{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

<div class='footer-wrapper'>
{# contact-info.html.twig #}
<div class="contact-info">
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.1055 7.19574C14.2441 9.19646 11.6567 11.562 9.41065 14.2248C18.5893 13.3727 30.2503 14.7641 43.7887 21.5334C58.246 28.7618 69.8876 29.0062 77.9896 27.4434C77.2544 25.2176 76.3288 23.0784 75.2326 21.0448C65.958 22.023 54.068 20.7282 40.2112 13.8C31.4119 9.40036 23.6555 7.58802 17.1055 7.19574ZM69.8148 13.3333C62.4906 5.14999 51.8468 0 39.9999 0C36.5209 0 33.1453 0.444214 29.9273 1.27896C34.2857 2.46817 38.9157 4.20797 43.7887 6.64454C53.934 11.7171 62.6928 13.3503 69.8148 13.3333ZM79.7218 35.2562C69.9338 37.189 56.4176 36.792 40.2112 28.6888C25.0599 21.1132 13.0009 21.2086 4.8678 23.016C4.448 23.1092 4.03808 23.2072 3.63806 23.3092C2.57324 25.625 1.72327 28.0602 1.1134 30.589C1.76477 30.415 2.43786 30.2496 3.13232 30.0952C12.9991 27.9026 26.9401 27.9978 43.7887 36.4222C58.9402 43.9978 70.9992 43.9024 79.1324 42.095C79.411 42.0332 79.6856 41.9692 79.9556 41.9032C79.9852 41.2726 80 40.638 80 40C80 38.395 79.9056 36.812 79.7218 35.2562ZM78.6496 50.3446C68.9566 52.0392 55.834 51.3888 40.2112 43.5776C25.0599 36.002 13.0009 36.0974 4.8678 37.9048C3.0625 38.3058 1.43848 38.7944 0.00586001 39.3102C0.001954 39.5396 0 39.7696 0 40C0 62.0914 17.9086 80 39.9999 80C58.5142 80 74.0906 67.4218 78.6496 50.3446Z" fill="white"/>
    </svg>
  <h4 class="contact-info__title">{{ 'Byoerr'|t }}</h4>
  
  <div class="contact-info__details">
    <div class="contact-info__email">
      {{ 'hello@byoerr.com' }}
    </div>
    <div class="contact-info__phone">
      {{ 'Phone : +01 23456789'|t }}
    </div>
  </div>

  <div class="contact-info__social">
    <svg xmlns="http://www.w3.org/2000/svg" width="272" height="48" viewBox="0 0 272 48" fill="none">
<g opacity="0.7">
<path d="M29.8727 25.5624L30.5566 21.2171H26.3437V18.3927C26.3437 17.2045 26.9319 16.0435 28.8126 16.0435H30.7549V12.3432C29.6238 12.1628 28.4809 12.0653 27.3354 12.0513C23.868 12.0513 21.6042 14.1357 21.6042 17.9038V21.2171H17.7607V25.5624H21.6042V36.0726H26.3437V25.5624H29.8727Z" fill="white"/>
<path d="M91.9131 16.4008C91.1206 16.7422 90.2874 16.9799 89.4341 17.1081C89.833 17.0396 90.42 16.3209 90.6537 16.03C91.0086 15.5912 91.2792 15.0903 91.4515 14.5527C91.4515 14.5128 91.4914 14.4557 91.4515 14.4272C91.4314 14.4162 91.4089 14.4105 91.386 14.4105C91.3631 14.4105 91.3405 14.4162 91.3204 14.4272C90.3939 14.9294 89.4078 15.3127 88.3855 15.568C88.3499 15.5789 88.3119 15.5799 88.2758 15.5708C88.2396 15.5618 88.2066 15.5431 88.1803 15.5167C88.1008 15.4218 88.0151 15.3323 87.9239 15.2486C87.5069 14.8746 87.0338 14.5686 86.5219 14.3416C85.831 14.0579 85.0846 13.935 84.3392 13.9823C83.616 14.028 82.9099 14.2222 82.2648 14.5527C81.6296 14.9012 81.0713 15.3746 80.6235 15.9445C80.1525 16.531 79.8124 17.2118 79.6262 17.9409C79.4727 18.6344 79.4552 19.3512 79.5749 20.0513C79.5749 20.1711 79.5749 20.1882 79.4723 20.1711C75.409 19.5722 72.0751 18.1291 69.351 15.0318C69.2313 14.8949 69.1687 14.8949 69.0718 15.0318C67.8864 16.8343 68.462 19.6863 69.9437 21.0952C70.1432 21.2834 70.3483 21.4659 70.5649 21.6371C69.8855 21.5888 69.2228 21.4045 68.6159 21.0952C68.5019 21.021 68.4392 21.061 68.4335 21.1979C68.4173 21.3876 68.4173 21.5785 68.4335 21.7683C68.5524 22.6778 68.9105 23.5394 69.4713 24.265C70.032 24.9906 70.7752 25.5541 71.6249 25.898C71.832 25.9868 72.0479 26.0537 72.2689 26.0976C71.64 26.2215 70.9949 26.2408 70.3597 26.1546C70.223 26.1261 70.1717 26.2003 70.223 26.3315C71.0607 28.6131 72.8787 29.3089 74.2122 29.6968C74.3946 29.7253 74.577 29.7253 74.7821 29.771C74.7821 29.771 74.7821 29.771 74.7479 29.8052C74.3547 30.5239 72.7647 31.0087 72.0352 31.2597C70.7038 31.7384 69.2842 31.9214 67.875 31.7959C67.6527 31.7617 67.6015 31.7674 67.5445 31.7959C67.4875 31.8244 67.5445 31.8872 67.6071 31.9442C67.8921 32.1324 68.177 32.2979 68.4734 32.4576C69.3556 32.9392 70.2883 33.3218 71.2545 33.5984C76.2581 34.9787 81.8887 33.9634 85.6443 30.2273C88.5964 27.2954 89.6336 23.2513 89.6336 19.2014C89.6336 19.0474 89.8216 18.9562 89.9299 18.8763C90.6768 18.2939 91.3352 17.606 91.8846 16.8343C91.9798 16.7192 92.0286 16.5728 92.0214 16.4236C92.0214 16.338 92.0214 16.3551 91.9131 16.4008Z" fill="white"/>
<path d="M132.005 24.0614C132.005 21.8504 133.797 20.0576 136.007 20.0576C138.218 20.0576 140.01 21.8504 140.01 24.0614C140.01 26.2725 138.218 28.0653 136.007 28.0653C133.797 28.0653 132.005 26.2725 132.005 24.0614ZM129.842 24.0614C129.842 27.4677 132.602 30.2288 136.007 30.2288C139.412 30.2288 142.173 27.4677 142.173 24.0614C142.173 20.6552 139.412 17.8941 136.007 17.8941C132.602 17.8941 129.842 20.6552 129.842 24.0614ZM140.976 17.6496C140.976 17.9346 141.06 18.2133 141.219 18.4504C141.377 18.6875 141.602 18.8723 141.865 18.9815C142.128 19.0907 142.418 19.1194 142.697 19.0639C142.977 19.0084 143.234 18.8712 143.435 18.6697C143.637 18.4682 143.774 18.2115 143.83 17.9319C143.886 17.6523 143.857 17.3625 143.748 17.0991C143.639 16.8357 143.455 16.6106 143.218 16.4521C142.981 16.2936 142.702 16.209 142.417 16.2089C142.035 16.2091 141.669 16.3609 141.398 16.631C141.128 16.9011 140.976 17.2675 140.976 17.6496ZM131.156 33.8378C129.986 33.7845 129.349 33.5895 128.927 33.4247C128.366 33.2064 127.966 32.9464 127.545 32.5263C127.125 32.1062 126.864 31.7065 126.647 31.1457C126.482 30.7229 126.287 30.0863 126.234 28.9153C126.176 27.6493 126.164 27.269 126.164 24.0615C126.164 20.8541 126.177 20.4749 126.234 19.2078C126.287 18.0368 126.484 17.4014 126.647 16.9774C126.865 16.4166 127.125 16.0165 127.545 15.5958C127.965 15.1752 128.365 14.9148 128.927 14.6975C129.349 14.5326 129.986 14.3375 131.156 14.2843C132.422 14.2261 132.802 14.2144 136.007 14.2144C139.212 14.2144 139.593 14.227 140.86 14.2843C142.03 14.3376 142.665 14.5341 143.089 14.6975C143.65 14.9148 144.05 15.1758 144.471 15.5958C144.891 16.0159 145.15 16.4166 145.369 16.9774C145.533 17.4001 145.728 18.0368 145.782 19.2078C145.84 20.4749 145.852 20.8541 145.852 24.0615C145.852 27.269 145.84 27.6482 145.782 28.9153C145.728 30.0863 145.532 30.7228 145.369 31.1457C145.15 31.7065 144.89 32.1066 144.471 32.5263C144.051 32.946 143.65 33.2064 143.089 33.4247C142.667 33.5896 142.03 33.7846 140.86 33.8378C139.594 33.8961 139.214 33.9077 136.007 33.9077C132.801 33.9077 132.422 33.8961 131.156 33.8378ZM131.057 12.1235C129.779 12.1817 128.905 12.3845 128.142 12.6814C127.352 12.988 126.684 13.3993 126.015 14.0667C125.347 14.7342 124.937 15.4042 124.63 16.1944C124.334 16.9579 124.131 17.8311 124.073 19.1097C124.013 20.3903 124 20.7997 124 24.0614C124 27.3232 124.013 27.7326 124.073 29.0132C124.131 30.2919 124.334 31.165 124.63 31.9285C124.937 32.7183 125.347 33.389 126.015 34.0561C126.684 34.7233 127.352 35.134 128.142 35.4415C128.907 35.7384 129.779 35.9411 131.057 35.9994C132.338 36.0576 132.746 36.0721 136.007 36.0721C139.268 36.0721 139.677 36.0586 140.958 35.9994C142.236 35.9411 143.109 35.7384 143.872 35.4415C144.661 35.134 145.331 34.7236 145.999 34.0561C146.667 33.3887 147.077 32.7183 147.384 31.9285C147.681 31.165 147.884 30.2918 147.942 29.0132C148 27.7316 148.013 27.3232 148.013 24.0614C148.013 20.7997 148 20.3903 147.942 19.1097C147.883 17.831 147.681 16.9574 147.384 16.1944C147.077 15.4046 146.666 14.7352 145.999 14.0667C145.332 13.3983 144.661 12.988 143.873 12.6814C143.109 12.3845 142.236 12.1808 140.958 12.1235C139.678 12.0653 139.269 12.0508 136.008 12.0508C132.747 12.0508 132.338 12.0643 131.057 12.1235Z" fill="white"/>
<path d="M132.005 24.0614C132.005 21.8504 133.797 20.0576 136.007 20.0576C138.218 20.0576 140.01 21.8504 140.01 24.0614C140.01 26.2725 138.218 28.0653 136.007 28.0653C133.797 28.0653 132.005 26.2725 132.005 24.0614ZM129.842 24.0614C129.842 27.4677 132.602 30.2288 136.007 30.2288C139.412 30.2288 142.173 27.4677 142.173 24.0614C142.173 20.6552 139.412 17.8941 136.007 17.8941C132.602 17.8941 129.842 20.6552 129.842 24.0614ZM140.976 17.6496C140.976 17.9346 141.06 18.2133 141.219 18.4504C141.377 18.6875 141.602 18.8723 141.865 18.9815C142.128 19.0907 142.418 19.1194 142.697 19.0639C142.977 19.0084 143.234 18.8712 143.435 18.6697C143.637 18.4682 143.774 18.2115 143.83 17.9319C143.886 17.6523 143.857 17.3625 143.748 17.0991C143.639 16.8357 143.455 16.6106 143.218 16.4521C142.981 16.2936 142.702 16.209 142.417 16.2089C142.035 16.2091 141.669 16.3609 141.398 16.631C141.128 16.9011 140.976 17.2675 140.976 17.6496ZM131.156 33.8378C129.986 33.7845 129.349 33.5895 128.927 33.4247C128.366 33.2064 127.966 32.9464 127.545 32.5263C127.125 32.1062 126.864 31.7065 126.647 31.1457C126.482 30.7229 126.287 30.0863 126.234 28.9153C126.176 27.6493 126.164 27.269 126.164 24.0615C126.164 20.8541 126.177 20.4749 126.234 19.2078C126.287 18.0368 126.484 17.4014 126.647 16.9774C126.865 16.4166 127.125 16.0165 127.545 15.5958C127.965 15.1752 128.365 14.9148 128.927 14.6975C129.349 14.5326 129.986 14.3375 131.156 14.2843C132.422 14.2261 132.802 14.2144 136.007 14.2144C139.212 14.2144 139.593 14.227 140.86 14.2843C142.03 14.3376 142.665 14.5341 143.089 14.6975C143.65 14.9148 144.05 15.1758 144.471 15.5958C144.891 16.0159 145.15 16.4166 145.369 16.9774C145.533 17.4001 145.728 18.0368 145.782 19.2078C145.84 20.4749 145.852 20.8541 145.852 24.0615C145.852 27.269 145.84 27.6482 145.782 28.9153C145.728 30.0863 145.532 30.7228 145.369 31.1457C145.15 31.7065 144.89 32.1066 144.471 32.5263C144.051 32.946 143.65 33.2064 143.089 33.4247C142.667 33.5896 142.03 33.7846 140.86 33.8378C139.594 33.8961 139.214 33.9077 136.007 33.9077C132.801 33.9077 132.422 33.8961 131.156 33.8378ZM131.057 12.1235C129.779 12.1817 128.905 12.3845 128.142 12.6814C127.352 12.988 126.684 13.3993 126.015 14.0667C125.347 14.7342 124.937 15.4042 124.63 16.1944C124.334 16.9579 124.131 17.8311 124.073 19.1097C124.013 20.3903 124 20.7997 124 24.0614C124 27.3232 124.013 27.7326 124.073 29.0132C124.131 30.2919 124.334 31.165 124.63 31.9285C124.937 32.7183 125.347 33.389 126.015 34.0561C126.684 34.7233 127.352 35.134 128.142 35.4415C128.907 35.7384 129.779 35.9411 131.057 35.9994C132.338 36.0576 132.746 36.0721 136.007 36.0721C139.268 36.0721 139.677 36.0586 140.958 35.9994C142.236 35.9411 143.109 35.7384 143.872 35.4415C144.661 35.134 145.331 34.7236 145.999 34.0561C146.667 33.3887 147.077 32.7183 147.384 31.9285C147.681 31.165 147.884 30.2918 147.942 29.0132C148 27.7316 148.013 27.3232 148.013 24.0614C148.013 20.7997 148 20.3903 147.942 19.1097C147.883 17.831 147.681 16.9574 147.384 16.1944C147.077 15.4046 146.666 14.7352 145.999 14.0667C145.332 13.3983 144.661 12.988 143.873 12.6814C143.109 12.3845 142.236 12.1808 140.958 12.1235C139.678 12.0653 139.269 12.0508 136.008 12.0508C132.747 12.0508 132.338 12.0643 131.057 12.1235Z" fill="white"/>
<path d="M186.479 33.7264V20.7602H182.173V33.7264H186.479ZM184.327 18.9902C185.828 18.9902 186.763 17.9945 186.763 16.7503C186.734 15.4776 185.828 14.5098 184.355 14.5098C182.882 14.5098 181.919 15.4776 181.919 16.7501C181.919 17.9944 182.853 18.9901 184.298 18.9901L184.327 18.9902ZM188.862 33.7264H193.168V26.4863C193.168 26.0992 193.196 25.7112 193.31 25.4348C193.621 24.6602 194.329 23.8584 195.519 23.8584C197.077 23.8584 197.7 25.0473 197.7 26.7906V33.7264H202.006V26.292C202.006 22.3095 199.882 20.4562 197.049 20.4562C194.726 20.4562 193.706 21.7555 193.139 22.6405H193.168V20.7606H188.862C188.919 21.977 188.862 33.7264 188.862 33.7264Z" fill="white"/>
<path d="M261.35 17.398C261.037 16.2198 260.11 15.2903 258.93 14.9718C256.798 14.4001 248.241 14.4001 248.241 14.4001C248.241 14.4001 239.688 14.4001 237.551 14.9718C236.376 15.286 235.449 16.2154 235.131 17.398C234.561 19.5361 234.561 24.0001 234.561 24.0001C234.561 24.0001 234.561 28.4641 235.131 30.6023C235.444 31.7805 236.371 32.71 237.551 33.0285C239.688 33.6001 248.241 33.6001 248.241 33.6001C248.241 33.6001 256.798 33.6001 258.93 33.0285C260.106 32.7143 261.033 31.7849 261.35 30.6023C261.921 28.4641 261.921 24.0001 261.921 24.0001C261.921 24.0001 261.921 19.5361 261.35 17.398Z" fill="white"/>
<path d="M245.507 28.1152L252.615 24.0002L245.507 19.8853V28.1152Z" fill="#000816"/>
</g>
</svg>
  </div>
</div>

{#
  We call a macro which calls itself to render the full tree.
  https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}
</div>

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes }} class='item-level-1'>
    {% else %}
      <ul class='item-level-2'>
    {% endif %}
    {% for item in items %}
      {# Add the has-child class if the item has children #}
      {% set item_classes = [] %}
      {% if item.below %}
        {% set item_classes = item_classes|merge(['has-child']) %}
      {% endif %}
      <li{{ item.attributes.addClass(item_classes) }}>
        {{ link(item.title, item.url) }}
        
        {# Add the SVG icon if the item has children #}
        {# {% if item.below %}
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#212121">
            <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
          </svg>
        {% endif %} #}
        
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
