{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 *   Available fields in this template:
 *   - content.field_left_image: The image field on the left side of the doctor profile card.
 *   - content.field_title: The title field of the doctor profile card.
 *   - content.field_subtitle: The subtitle field of the doctor profile card.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'doctor-profile__card',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      {% if content.field_left_image %}
          {{ content.field_left_image }}
      {% endif %}

      <div class="doctor-profile__card-info">
        {% if content.field_title %}
          <h3>{{ content.field_title.0 }}</h3>
        {% endif %}
          <svg xmlns="http://www.w3.org/2000/svg" width="121" height="24" viewBox="0 0 121 24" fill="none">
<path d="M11.2154 2.92705C11.5148 2.00574 12.8182 2.00574 13.1176 2.92705L14.6362 7.60081C14.77 8.01284 15.154 8.2918 15.5872 8.2918H20.5015C21.4702 8.2918 21.873 9.53141 21.0893 10.1008L17.1135 12.9894C16.7631 13.244 16.6164 13.6954 16.7503 14.1074L18.2689 18.7812C18.5682 19.7025 17.5137 20.4686 16.73 19.8992L12.7543 17.0106C12.4038 16.756 11.9292 16.756 11.5787 17.0106L7.60298 19.8992C6.81927 20.4686 5.76479 19.7025 6.06414 18.7812L7.58273 14.1074C7.71661 13.6954 7.56995 13.244 7.21946 12.9894L3.24373 10.1008C2.46001 9.53141 2.86279 8.2918 3.83151 8.2918H8.74579C9.17902 8.2918 9.56298 8.01284 9.69685 7.60081L11.2154 2.92705Z" fill="white"/>
<path d="M35.2154 2.92705C35.5148 2.00574 36.8182 2.00574 37.1176 2.92705L38.6362 7.60081C38.77 8.01284 39.154 8.2918 39.5872 8.2918H44.5015C45.4702 8.2918 45.873 9.53141 45.0893 10.1008L41.1135 12.9894C40.7631 13.244 40.6164 13.6954 40.7503 14.1074L42.2689 18.7812C42.5682 19.7025 41.5137 20.4686 40.73 19.8992L36.7543 17.0106C36.4038 16.756 35.9292 16.756 35.5787 17.0106L31.603 19.8992C30.8193 20.4686 29.7648 19.7025 30.0641 18.7812L31.5827 14.1074C31.7166 13.6954 31.57 13.244 31.2195 12.9894L27.2437 10.1008C26.46 9.53141 26.8628 8.2918 27.8315 8.2918H32.7458C33.179 8.2918 33.563 8.01284 33.6968 7.60081L35.2154 2.92705Z" fill="white"/>
<path d="M59.2154 2.92705C59.5148 2.00574 60.8182 2.00574 61.1176 2.92705L62.6362 7.60081C62.77 8.01284 63.154 8.2918 63.5872 8.2918H68.5015C69.4702 8.2918 69.873 9.53141 69.0893 10.1008L65.1135 12.9894C64.7631 13.244 64.6164 13.6954 64.7503 14.1074L66.2689 18.7812C66.5682 19.7025 65.5137 20.4686 64.73 19.8992L60.7543 17.0106C60.4038 16.756 59.9292 16.756 59.5787 17.0106L55.603 19.8992C54.8193 20.4686 53.7648 19.7025 54.0641 18.7812L55.5827 14.1074C55.7166 13.6954 55.57 13.244 55.2195 12.9894L51.2437 10.1008C50.46 9.53141 50.8628 8.2918 51.8315 8.2918H56.7458C57.179 8.2918 57.563 8.01284 57.6968 7.60081L59.2154 2.92705Z" fill="white"/>
<path d="M83.2154 2.92705C83.5148 2.00574 84.8182 2.00574 85.1176 2.92705L86.6362 7.60081C86.77 8.01284 87.154 8.2918 87.5872 8.2918H92.5015C93.4702 8.2918 93.873 9.53141 93.0893 10.1008L89.1135 12.9894C88.7631 13.244 88.6164 13.6954 88.7503 14.1074L90.2689 18.7812C90.5682 19.7025 89.5137 20.4686 88.73 19.8992L84.7543 17.0106C84.4038 16.756 83.9292 16.756 83.5787 17.0106L79.603 19.8992C78.8193 20.4686 77.7648 19.7025 78.0641 18.7812L79.5827 14.1074C79.7166 13.6954 79.57 13.244 79.2195 12.9894L75.2437 10.1008C74.46 9.53141 74.8628 8.2918 75.8315 8.2918H80.7458C81.179 8.2918 81.563 8.01284 81.6968 7.60081L83.2154 2.92705Z" fill="white"/>
<path d="M107.215 2.92705C107.515 2.00574 108.818 2.00574 109.118 2.92705L110.636 7.60081C110.77 8.01284 111.154 8.2918 111.587 8.2918H116.501C117.47 8.2918 117.873 9.53141 117.089 10.1008L113.114 12.9894C112.763 13.244 112.616 13.6954 112.75 14.1074L114.269 18.7812C114.568 19.7025 113.514 20.4686 112.73 19.8992L108.754 17.0106C108.404 16.756 107.929 16.756 107.579 17.0106L103.603 19.8992C102.819 20.4686 101.765 19.7025 102.064 18.7812L103.583 14.1074C103.717 13.6954 103.57 13.244 103.219 12.9894L99.2437 10.1008C98.46 9.53141 98.8628 8.2918 99.8315 8.2918H104.746C105.179 8.2918 105.563 8.01284 105.697 7.60081L107.215 2.92705Z" fill="white" fill-opacity="0.24"/>
</svg>
      </div>
      
    {% endblock %}
  </div>
{% endblock paragraph %}
